.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.raised-orders-table-row-hover {
  cursor: pointer;
}

.raised-orders-table-row-hover:hover {
  background-color: #f5f5f5;
}

.approve-button {
  background-color: white;
  color: green;
  border: 2px solid #4caf50;
  border-radius: 2px;
  padding: 5px;
  width: 150px;
}

.approve-button:hover {
  background-color: #4caf50;
  color: white;
}

.approve-button.disabled {
  background-color: white;
  color: green;
  border: 2px solid #4caf50;
  border-radius: 2px;
  padding: 5px;
  width: 150px;
}

.approve-button.disabled:hover {
  background-color: white; /* Keep the same background color */
  color: green; /* Keep the same text color */
  border: 2px solid #4caf50; /* Keep the same border */
  cursor: not-allowed; /* Change cursor to indicate the button is disabled */
}

.reject-button {
  background-color: white;
  color: red;
  border: 2px solid #f44336;
  border-radius: 2px;
  padding: 5px;
  width: 150px;
}

.reject-button:hover {
  background-color: #f44336;
  color: white;
}

.reject-button.disabled {
  background-color: white;
  color: red;
  border: 2px solid #f44336;
  border-radius: 2px;
  padding: 5px;
  width: 150px;
}

.reject-button.disabled:hover {
  background-color: white;
  color: red;
  border: 2px solid #f44336;
  cursor: not-allowed;
}

.reject-reason-input {
  padding: 12px 20px;
  margin-left: 20px;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  width: 56%;
}
